.page {
  margin: 60px auto 0;
  text-align: center;
  width: 100%;
  
}

.title {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  input {
    border-radius: 12px;
    font-size: 16px;
    padding: 5px;
    margin: 20px 0;
    
  }

  .error {
    font-size: 24px;
    color: red
  }

  


